<configuration>
	<classifier name="mimlclassifier.degeneration.mimlTOmil.MIMLLabelPowerset">
	
		<multiInstanceClassifier name="weka.classifiers.mi.MISMO" />
		
	</classifier>
	
	<evaluator method="evaluate">
		<data>
			<trainFile>data/miml_03_data.arff</trainFile>
			<testFile>data/miml_04_data.arff</testFile>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<reportFileName>results/prueba.csv</reportFileName>
	
</configuration>