<configuration>

	<classifier name="mimlclassifier.degeneration.mimlTOml.MIMLClassifierML">
		<multiLabelClassifier name="mulan.classifier.lazy.MLkNN">
				<parameters>
					<classParameters>int.class</classParameters>
					<classParameters>double.class</classParameters>
					<valueParameters>1</valueParameters>
					<valueParameters>1.0</valueParameters>
				</parameters>
		</multiLabelClassifier>
		
		<transformMethod name="transformation.mimlTOml.ArithmeticTransformation"/>
	</classifier>
	
	<data>
		<trainFile>data/miml_03_data.arff</trainFile>
		<testFile>data/miml_04_data.arff</testFile>
		<xmlFile>data/miml_03_data.xml</xmlFile>
	</data>
	
</configuration>