<configuration>

	<classifier name="mimlclassifier.mimlTOml.MIMLClassifierML">
	
		<multiLabelClassifier name="mulan.classifier.transformation.LabelPowerset">
			<parameters>
				<classParameters>weka.classifiers.Classifier</classParameters>
				<valueParameters>weka.classifiers.trees.J48</valueParameters>
			</parameters>
		</multiLabelClassifier>
		
		<transformMethod name="transformation.mimlTOml.ArithmeticTransformation"/>
	</classifier>
	
	<evaluator name="evaluation.EvaluatorCV">
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_03_data.arff</file>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
		<measures>
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
			<measure>Geometric Mean Average Interpolated Precision</measure>
		</measures>
	</report>
	
</configuration>