<configuration>
	<classifier name="mimlclassifier.degeneration.mimlTOmil.MIMLLabelPowerset">
	
		<multiInstanceClassifier name="weka.classifiers.mi.MISMO" />
		
	</classifier>
	
	<data>
		<trainFile>data/miml_text_data_random_80train.arff</trainFile>
		<testFile>data/miml_text_data_random_20test.arff</testFile>
		<xmlFile>data/miml_text_data.xml</xmlFile>
	</data>
	
</configuration>