<configuration>
	<classifier name="mimlclassifier.lazy.MIMLkNN">
	
		<nReferences>4</nReferences>
		<nCiters>6</nCiters>

		<metric name="core.distance.AverageHausdorff">
		</metric>
	</classifier>
	
	<evaluator name="evaluation.EvaluatorHoldout">
		<data>
			<trainFile>data/miml_03_data.arff</trainFile>
			<testFile>data/miml_04_data.arff</testFile>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
	</report>
	
</configuration>