<configuration>

	<classifier name="mimlclassifier.mimlTOml.MIMLClassifierML">
		<multiLabelClassifier name="mulan.classifier.lazy.MLkNN">
			<parameters>
				<classParameters>int.class</classParameters>
				<classParameters>double.class</classParameters>
				<valueParameters>1</valueParameters>
				<valueParameters>1.0</valueParameters>
			</parameters>
		</multiLabelClassifier>
		
		<transformMethod name="transformation.mimlTOml.ArithmeticTransformation"/>
	</classifier>
	
	<evaluator method="cross-validation">
		<numFolds>5</numFolds>
		<data>
			<trainFile>data/miml_03_data.arff</trainFile>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
	</report>
	
</configuration>