<configuration>
	<classifier name="mimlclassifier.regularization.MIMLkNN">
	
		<nReferences>5</nReferences>
		<nCiters>5</nCiters>

		<metric name="mimlclassifier.regularization.averageHausdorff">
		</metric>
	</classifier>
	
	<data>
		<trainFile>data/miml_03_data.arff</trainFile>
		<testFile>data/miml_04_data.arff</testFile>
		<xmlFile>data/miml_03_data.xml</xmlFile>
	</data>
	
</configuration>