<configuration>
	<classifier name="mimlclassifier.regularization.MIMLkNN">
	
		<nReferences>4</nReferences>
		<nCiters>6</nCiters>

		<metric name="mimlclassifier.regularization.AverageHausdorff">
		</metric>
	</classifier>
	
	<evaluator method="evaluate">
		<data>
			<trainFile>data/miml_03_data.arff</trainFile>
			<testFile>data/miml_04_data.arff</testFile>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<reportFileName>results/prueba.csv</reportFileName>
	
</configuration>