<configuration>

	<classifier name="mimlclassifier.mimlTOmi.MIMLClassifierMI">
	
		<transformMethod name="mulan.classifier.transformation.BinaryRelevance"/>
		
		<multiInstanceClassifier name="weka.classifiers.mi.SimpleMI">
        </multiInstanceClassifier>
        
	</classifier>
	
	<evaluator name="evaluation.EvaluatorCV">
		<numFolds>5</numFolds>
		<data>
			<file>data/miml_03_data.arff</file>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
		<measures>
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
			<measure>Geometric Mean Average Interpolated Precision</measure>
		</measures>
	</report>
    
</configuration>