<configuration>

	<classifier name="mimlclassifier.mimlTOmi.MIMLLabelPowerset">
	
		<transformMethod name="mulan.classifier.transformation.BinaryRelevance"/>
		
		<multiInstanceClassifier name="weka.classifiers.mi.MISMO">
        	<listOptions>-C 1.0 -L 0.001 -P 1.0E-12 -N 0 -V -1 -W 1 -K "weka.classifiers.mi.supportVector.MIPolyKernel -E 1.0 -C 250007"</listOptions>
        </multiInstanceClassifier>
        
	</classifier>
	
	<evaluator name="evaluation.EvaluatorHoldout">
		<data>
			<trainFile>data/miml_03_data.arff</trainFile>
			<testFile>data/miml_04_data.arff</testFile>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
		<measures>
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
			<measure>Geometric Mean Average Interpolated Precision</measure>
		</measures>
	</report>
    
</configuration>