<configuration>
	<classifier name="mimlclassifier.mimlTOmi.MIMLLabelPowerset">
	
		<multiInstanceClassifier name="weka.classifiers.mi.MISMO" />
		
	</classifier>
	
	<evaluator name="evaluation.EvaluatorHoldout">
		<data>
			<trainFile>data/miml_03_data.arff</trainFile>
			<testFile>data/miml_04_data.arff</testFile>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
		<measures>
			<measure>Hamming Loss</measure>
			<measure>Subset Accuracy</measure>
			<measure>Macro-averaged Precision</measure>
			<measure>Macro-averaged F-Measure</measure>
			<measure>Geometric Mean Average Interpolated Precision</measure>
		</measures>
	</report>
	
</configuration>