<configuration>
	<classifier name="mimlclassifier.inprogress.MLkNNwrapper">
	
		<nReferences>5</nReferences>
		<smooth>1.0</smooth>

		<metric name="mimlclassifier.inprogress.AverageHausdorffDistance">
		</metric>
	</classifier>
	
	<evaluator method="cross-validation">
		<numFolds>5</numFolds>
		<data>
			<trainFile>data/miml_03_data.arff</trainFile>
			<xmlFile>data/miml_03_data.xml</xmlFile>
		</data>
	</evaluator>
	
	<report name="report.BaseMIMLReport">
		<fileName>results/prueba.csv</fileName>
	</report>
	
</configuration>