<configuration>
	<classifier name="mimlclassifier.inprogress.MLkNNwrapper">
	
		<nReferences>5</nReferences>
		<smooth>1.0</smooth>

		<metric name="mimlclassifier.inprogress.AverageHausdorffDistance">
		</metric>
	</classifier>
	
	<data>
		<trainFile>data/miml_03_data.arff</trainFile>
		<testFile>data/miml_04_data.arff</testFile>
		<xmlFile>data/miml_03_data.xml</xmlFile>
	</data>
	
</configuration>